nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

nav div{
    display: flex;
    padding: 20px;
    align-items: center;
}

nav img{
    align-items: center;
    padding: 15px;
}

.banner {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c4c4c4;
}

.banner img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-color: #e09898;
    
    
}

main {
    display: flex;
}

main div {
    padding: 30px;
}

.team{
    flex:1;
}

.mission{
    flex: 3;
}
fieldset {
    width: 1152px;
    height: 100%;
}
.team img {
    width: 50%;
    justify-content: center;
}