*{
    margin: 0px;
}

nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
}
nav div{
    display: flex;
    padding: 20px;
    align-items: center;
}

nav img{
    align-items: center;
    padding: 15px;
}
.banner {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c4c4c4;
}

.banner div {
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-color: #e09898;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main div {
    padding: 30px;
}

.team{
    flex:1;
}

.mission{
    flex: 3;
}
fieldset {
    padding: 0px;
    border: 0px;
    display: flex;
    flex-flow: wrap;
}
.team img {
    width: 50%;
    margin: auto;
    display: block;
}
@media only screen and (max-width: 1152px) {
    fieldset{
        width:100%
        
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        width: 100%;
        padding: 20px 0px;
        align-items: center;
        justify-content: center;
    }
    nav div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .mission{
        padding: 10px;
        flex: 1;
}
    main div {
        display: flex;
        flex-wrap: wrap;
    }
    .team 
    {
        padding: 10px;
    }
}